
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
	background: #F5F5F5;
	font-family: 'Open Sans', 'Arial', sans-serif;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}


.hide {
	display: none !important;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.header {
  overflow: hidden;

  &::before {
  	content: ' ';
  	width: 100%;
  	height: 210px;
  	position: absolute;
  	top: 0;
  	background: #F77016 url('../images/logo.jpg') no-repeat center;
  	background-position-y: -150px;
  	will-change: transform;
  }
}


.mtop50 {
  margin-top: -50px;
}

.menu {
  height: 40px;
  width: 960px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  top: 115px;

  li {
	  display: inline-block;
	  width: 60px;
	  height: 25px;
	  margin-left: 30px;
	  margin-right: 30px;
	  margin-top: 10px;
	  color: #fff;
	  font-weight: bold;
	  text-align: center;
	  cursor: pointer;
  }

  a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    width: 60px;
    display: inline-block;
    padding-bottom: 9px;

    &.selected {
       border-bottom: 2px solid #fff;
    }
  }
}

.container {
	width: 1024px;
  min-height: 550px;
	margin: 120px auto 30px;
	position: relative;
	color: #000;

	h1 {
	  display: inline-block;
	  margin-left: 15px;
	  margin-top: 10px;
  	font-size: 22px;
  	font-weight: bold;
  }
}

.content {
  background: #fff;
  margin-bottom: 10px;
  min-height: 90px;
  cursor: default;
  padding-left: 10px;
  padding-right: 10px;

  &:last-child {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
  }

  &:hover {
    background: #F9F8F8;
  }
}

.content-container {
  min-height: 135px;
  padding-top: 10px;
  margin-bottom: 10px;
  
  .title {
    margin-right: 10px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;      
    }
  }

  .about-content {  
    width: 85%;
    margin: 20px auto 0 45px;
    margin-top: 10px;
    line-height: 1.5;

    a {
      color: #4F8EFA;
      text-decoration: underline;
      margin-top: 0;
    }
  }

  .about-page { 
    min-height: 360px;
    cursor: default;
  }

  .heading {
    display: block;
    text-align: left;
    margin-left: 25px;
    padding-top: 10px;

    &:first-child {
      padding-top: 30px;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }

  a {
  	text-decoration: none;
  	font-size: 16px;
  	margin-top: 13px;
  	display: inline-block;
  	color: #4F8EFA;
    text-decoration: underline;
    line-height: 20px;

  	&:hover {
  		color: #3f71c5;
  	}

    &:visited {
      color: #1A3158;
    }
  }

  .spinner {
	  display: block;
	  margin: 0 auto;
    margin-top: 100px;
  }

  .author {
	  color: #FF6600;
    font-size: 13px;
    text-indent: 5px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited,
    &:hover {
      color: #FF6600;
    }
  }

  .search-web,
  .domain a,
  .domain span {
    text-decoration: none;
    color: #4d5763;
    font-size: 13px;
    margin: 0;
  }

  .search-web {
    span {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .type {
    color: #A0522D; 
    margin-top: 10px;
    display: inline-block;
  }

  .load-more {
    position: relative;
    top: -50px;
  }
}

.profile-heading {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  margin-top: -20px;

  h2 {
    margin-top: 10px;
  }
}

.profile-content {
  min-height: 250px;
  position: relative;
  top: 10px;
  cursor: default;
  padding-top: 1px;

  &:hover {
    background: #fff;
  }

  .spinner-container {
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: block;
    top: 100px;
  }

  .content-added {
    min-height: 200px;
    margin-top: 15px;
  }

  h1 {
    display: block;
    min-height: 35px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #000;

    &:first-child {
      margin-top: 15px;
    }
  }

  span:nth-child(even) {
    color: #4d5763;
    word-break: break-all;
    line-height: 1.5;
    font-weight: normal;
  }
}

.page-not-found {
  margin-top: 250px;
  text-align: center;
  font-size: 20px;
}


// Spinner SVG

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

.bottom-content {
  width: 410px;
  height: 30px;
  color: rgb(77, 87, 99);
  font-size: 13px;
}

.domain {
  display: inline-block;

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

.goto-top {
  position: fixed;
  right: 100px;
  text-decoration: underline;
  bottom: 40px;
  display: block;
  cursor: pointer;
  background: rgba(252, 103, 1, 0.91) url('../images/up_arrow.png') no-repeat;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.27);
  background-position: 6px 5px;
}

.scroll-more {
  border: 0;
  display: block;
  width: 105px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  text-align: center;
  font-size: 18px;
  background: rgba(158,158,158,.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  font-size: 16px;
  margin-top: 40px;
  cursor: pointer;
  outline: 0;
}


/*-----------------------------------------------
	MEDIA QUERY = 1360px to 1024px

	GRID = 960px
------------------------------------------------*/

@media (max-width: 1360px) and (min-width: 1024px) {
	.container,
  .bottom-content {
		width: 960px;
	}
}

/*-----------------------------------------------
  MEDIA QUERY = 1023px to 768px
------------------------------------------------*/

@media (max-width: 1023px) and (min-width: 768px) {
  .container,
  .bottom-content {
    width: 660px;
  }

  .menu {
    width: 660px;
    margin: 0 auto;
    top: 120px;
  }

  .goto-top {
    right: 30px;
  }

  .domain {
    display: none;
  }
}

/*-----------------------------------------------
  MEDIA QUERY =  768px to 480px
------------------------------------------------*/

@media (max-width: 767px) and (min-width: 480px) {
  .container,
  .bottom-content {
    width: 460px;
  }

  .bottom-content {
    min-height: 50px;
    margin-top: 0;
  }

  .menu {
    width: 480px;
    margin: 0 auto;
    top: 120px;
  }

  .content {
    min-height: 95px;
  }

  .content {
    &:hover {
      background: #fff;
    }
  }

  .domain {
    display: none;
  }

  .goto-top {
    right: 30px;
  }
}

/*-----------------------------------------------
  MEDIA QUERY =  768px to 480px
------------------------------------------------*/

@media (max-width: 479px) and (min-width: 320px) {
  .container {
    width: 300px;
    min-height: 350px;
  }

  .bottom-content {
    width: 280px;
    min-height: 55px;
    margin-top: 0;
  }

  .menu {
    width: 360px;
    margin: 0 auto;
    top: 115px;

    li {
      margin-left: 15px;
      margin-right: 15px;
      position: relative;
      top: 10px;
    }
  }

  .content-container {
    .about-content {
      margin: 20px auto 0 35px;
    }

    .heading {
      margin-left: 15px;
    }
  }

  .content {
    min-height: 80px;
  }

  .domain {
    display: none;
  }

  .content {
    &:hover {
      background: #fff;
    }
  }

  .goto-top {
    right: 45px;
    width: 50px;
    height: 50px;
    background-position: 1px 1px;
  }

  .type {
    display: block;
    margin-top: 10px;
  }
}
