/* -----------------------------------------------------------------------
Version: 0.1

SMACSS [Scalable Modular Architecture for CSS]
Reference: http://smacss.com/

Categorizing:
1. Base  - Defaults elements, attribute selectors, pseudo-class selectors styling [example: body, form, a]
2. Layout  - Divide the page into sections [example: header, footer] [prefix: l-]
3. Modules - Reusable, Modular parts of design [example: sidebar, popup] [prefix: module-]
4. State - How our module or layouts look in particular state [example: expanded, active] [prefix: is-]
5. Theme - Look and feel of subcomponent based on theme [example: dark, light] [prefix: theme-]
6. Pages   - Page specific styles. [prefix: page-]
----------------------------------------------------------------------- */
/*-------------------------------------------------
MASTER: IMPORTING STYLESHEETS
-------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
TODO ::
[] Integrate Bourbon to make use of most mixins - http://bourbon.io/docs/
*/
/*-------------------------------------------------
 MIXIN :: CLEARFIX
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: PIXEL TO EM CONVERTOR
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: BORDER RADIUS
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: TRANSITION
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: BOX SHADOW
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: SCALE - TRANSFORM
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: ROTATE - TRANSFORM
-------------------------------------------------*/
/*-------------------------------------------------
 MIXIN :: FONT STYLE
-------------------------------------------------*/
* {
  box-sizing: border-box; }

body {
  background: #F5F5F5;
  font-family: 'Open Sans', 'Arial', sans-serif; }

.disable-hover, .disable-hover * {
  pointer-events: none !important; }

.hide {
  display: none !important; }

.header {
  overflow: hidden; }
  .header::before {
    content: ' ';
    width: 100%;
    height: 210px;
    position: absolute;
    top: 0;
    background: #ff6600 url('../images/logo.jpg') no-repeat center;
    background-position-y: -150px;
    will-change: transform; }

.mtop50 {
  margin-top: -50px; }

.menu {
  height: 40px;
  width: 960px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  top: 115px; }
  .menu li {
    display: inline-block;
    width: 60px;
    height: 25px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer; }
    .menu li.selected {
      border-bottom: 2px solid #fff; }

.container {
  width: 1280px;
  min-height: 1024px;
  margin: 120px auto 30px;
  position: relative;
  color: #000; }
  .container h1 {
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold; }

.content {
  background: #fff;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.14), 0 2px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
  height: 135px;
  cursor: pointer; }
  .content:last-child {
    margin-bottom: 30px; }
  .content:hover {
    background: #F9F8F8; }

.content-container {
  min-height: 135px;
  padding-top: 10px;
  margin-bottom: 10px; }
  .content-container a {
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    color: #4F8EFA;
    text-decoration: underline; }
    .content-container a:hover {
      color: #3f71c5; }
    .content-container a:visited {
      color: #1A3158; }
  .content-container .spinner {
    display: block;
    margin: 0 auto;
    margin-top: 100px; }
  .content-container .author {
    color: #FF6600; }
  .content-container .type {
    margin-left: 20px;
    color: #A0522D; }
  .content-container .load-more {
    position: relative;
    top: -50px; }

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite; }

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); } }

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); } }

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite; }

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4; }

  25% {
    stroke: #DE3E35; }

  50% {
    stroke: #F7C223; }

  75% {
    stroke: #1B9A59; }

  100% {
    stroke: #4285F4; } }

@keyframes colors {
  0% {
    stroke: #4285F4; }

  25% {
    stroke: #DE3E35; }

  50% {
    stroke: #F7C223; }

  75% {
    stroke: #1B9A59; }

  100% {
    stroke: #4285F4; } }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187; }

  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }

  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg); } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }

  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }

  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg); } }

.bottom-content {
  width: 410px;
  height: 30px;
  margin-left: 19px;
  margin-top: 20px;
  color: #4d5763;
  font-size: 14px; }

.domain {
  display: inline-block;
  margin-left: 10px; }

.goto-top {
  position: fixed;
  right: 100px;
  text-decoration: underline;
  bottom: 40px;
  display: block;
  cursor: pointer;
  background: rgba(252, 103, 1, 0.91) url('../images/up_arrow.png') no-repeat;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.27);
  background-position: 6px 5px; }

.scroll-more {
  border: 0;
  display: block;
  width: 105px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  text-align: center;
  font-size: 18px;
  background: rgba(158, 158, 158, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 16px;
  margin-top: 40px;
  cursor: pointer;
  outline: 0; }

/*-----------------------------------------------
	MEDIA QUERY = 1360px to 1024px

	GRID = 960px
------------------------------------------------*/
@media (max-width: 1360px) and (min-width: 1024px) {
  .container, .bottom-content {
    width: 960px; } }

/*-----------------------------------------------
  MEDIA QUERY = 1023px to 768px
------------------------------------------------*/
@media (max-width: 1023px) and (min-width: 768px) {
  .container, .bottom-content {
    width: 660px; }
  .menu {
    width: 660px;
    margin: 0 auto;
    top: 120px; }
  .goto-top {
    right: 30px; } }

/*-----------------------------------------------
  MEDIA QUERY =  768px to 480px
------------------------------------------------*/
@media (max-width: 767px) and (min-width: 480px) {
  .container, .bottom-content {
    width: 460px; }
  .menu {
    width: 460px;
    margin: 0 auto;
    top: 120px; }
  .content {
    min-height: 165px; }
  .content:hover {
    background: #fff; }
  .domain {
    display: inline-block;
    margin-top: 15px;
    margin-left: 18px;
    height: 18px; }
  .goto-top {
    right: 30px; } }

/*-----------------------------------------------
  MEDIA QUERY =  768px to 480px
------------------------------------------------*/
@media (max-width: 479px) and (min-width: 320px) {
  .container, .bottom-content {
    width: 300px; }
  .menu {
    width: 300px;
    margin: 0 auto;
    top: 115px; }
    .menu li {
      margin-left: 15px;
      margin-right: 15px;
      position: relative;
      top: 10px; }
  .content {
    min-height: 185px; }
  .domain {
    display: inline-block;
    margin-top: 15px;
    margin-left: 18px; }
  .content:hover {
    background: #fff; }
  .content-container a {
    padding-right: 6px; }
  .goto-top {
    right: 45px;
    width: 50px;
    height: 50px;
    background-position: 1px 1px; }
  .type {
    display: block;
    margin-top: 10px; } }
